@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Nunito:wght@400;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css');

$maincolor: #623b1c;
$sec-color: #f6eddd;
$dark-color: #14120f;
$dark-milk: #caad8c;

$font-sizes: (
  'hero-main-text': 64px,
  'hero-main-text-mobile': 55px,
  'main-contents': 24px,
  'main-contents-mobile': 20px,
  'nav-footer-texts': 18px,
  'btn-texts': 20px,
  'btn-texts-mobile': 16px,
  'section-heading-texts': 48px,
  'section-heading-texts-mobile': 40px,
  'footer-heading': 24px,
  'copyright-text': 14px,
  'customer-name': 24px,
  'customer-attr': 12px,
);

$font-weight: (
  'bold': 600,
  'medium': 300,
);

@mixin mainFont {
  font-family: 'Nunito', sans-serif;
}
@mixin secFont {
  font-family: 'Plus Jakarta Display', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $dark-color;
}

li {
  list-style: none;
}

@mixin animation($name) {
  @keyframes #{$name} {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }
}

@mixin flex($direction) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: $direction;
}

@mixin btn {
  position: relative;
  background: c.$maincolor;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;

  &:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: -0;
    background: c.$dark-milk;
    border-radius: 5px;
    @include c.transition;
    z-index: 1;
  }

  &:hover:after {
    height: 100%;
  }
  & a {
    font-size: map-get(c.$font-sizes, btn-texts);
    color: c.$sec-color;
  }
}

@mixin transition {
  transition: all 700ms ease-in-out;
}

@mixin small-PCs {
  @media screen and (max-width: 1090px) {
    @content;
  }
}

@mixin tablets {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mobiles {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin small-mobiles {
  @media screen and (max-width: 420px) {
    @content;
  }
}
