@use 'config' as c;

@mixin tablets {
  @media screen and (max-width: 768px) {
    .header {
      // padding: 30px 0;
      & .header-items {
        & #nav-list {
          @include c.flex(row);
          width: 300px;
        }
      }
    }

    .hero {
      @include c.flex(column);
      padding: 0 35px;

      & .hero-contents {
        position: relative;
        width: 100%;
        margin-right: 0px;
        text-align: center;
        margin-bottom: 50px;
        & .hero-heading {
          font-size: 55px;
        }

        & .hero-copy {
          font-size: 20px;
          margin: 10px 0 20px;
        }
      }

      & .hero-img-container {
        width: 100%;
        padding-right: 40px;
        & .hero-imgs {
          width: 100%;
          @include c.flex(row);

          & img {
            width: 33.33%;
            &:not(:last-child) {
              margin-right: 20px;
            }
            &:nth-child(odd) {
              transform: translateY(50px);
            }
          }
        }
      }
    }
  }
}

@mixin mobiles {
  @media screen and (max-width: 500px) {
    .header {
      @include c.transition;
      transition-delay: 200ms;
      background: transparent;
      z-index: 12;
      padding: 0;
      height: 68px;

      &.open {
        height: 100vh;
        width: 100%;
      }

      & .header-items {
        // position: relative;
        // z-index: 20;
        background: c.$sec-color;
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        // padding: 20px;
        // padding-left: 30px;
        // padding-right: 30px;
        padding: 20px 35px;
        color: c.$dark-color;

        & #nav-list {
          position: absolute;
          background: transparent;
          top: 0;
          left: 0;
          width: 100%;
          height: 0;
          @include c.flex(column);
          // transform: translateX(100%);
          @include c.transition;
          align-items: center;
          justify-content: center;
          transition-delay: 0.5s;
          overflow: hidden;
          // z-index: 50;

          &.open {
            // transform: translateX(0);
            height: 100%;
          }

          & .nav-item {
            font-size: 30px;
            @include c.transition;

            &:nth-child(even) {
              transform: translateX(-300%);
              &.slide {
                transform: translateX(30%);
              }
            }
            &:nth-child(odd) {
              transform: translateX(350%);
              &.slide {
                transform: translateX(-30%);
              }
            }

            &:not(:last-child) {
              margin-bottom: 60px;
            }
          }
        }

        & #nav-actions {
          position: relative;
          @include c.flex(row);
          // z-index: 55;

          & i {
            cursor: pointer;
            @include c.transition;

            &:hover {
              color: c.$dark-milk;
            }
          }

          & i:nth-child(2) {
            margin-left: 10px;
          }

          & .nav-toggler {
            width: 30px;
            height: 25px;
            cursor: pointer;
            @include c.flex(column);
            margin-left: 20px;
          }
        }
      }
    }

    .blocks {
      @include c.flex(row);
    }

    #hero-main {
      padding-top: 30px;
    }

    .hero {
      & .hero-contents {
        & .hero-heading {
          font-size: 45px;
        }

        & .hero-copy {
          font-size: 18px;
        }

        & .hero-btn {
          & a {
            font-size: 16px;
          }
        }
      }

      & .hero-img-container {
        width: 100%;
        // margin-bottom: 100px;
      }
    }
  }
}

@for $i from 1 through 5 {
  .blocks {
    & .block:nth-child(#{$i}) {
      transition-delay: ($i * 0.18s);
    }
  }
}
