@use 'config' as c;

@mixin small-PCs {
  @media screen and (max-width: 1090px) {
    #interior {
      padding: 0 35px;
      margin-bottom: 50px;
    }

    .interior-container {
      width: 100%;

      & .interior-left {
        display: none;
      }

      & .interior-right {
        width: 100%;
        @include c.flex(row);
        & .interior-copy {
          width: 100%;

          & h4 {
            font-size: map-get(c.$font-sizes, section-heading-texts);
          }

          & p {
            font-size: map-get(c.$font-sizes, main-contents);
          }
        }

        & .interior-right-img {
          margin-left: 50px;
          width: 500px;
        }
      }
    }
  }
}

@mixin tablets {
  @media screen and (max-width: 768px) {
    .arrow {
      display: none;
    }
    .header {
      // padding: 30px 0;
      & .header-items {
        & #nav-list {
          @include c.flex(row);
          width: 300px;
        }
      }
    }

    .hero {
      @include c.flex(column);
      padding: 0 35px;

      & .hero-contents {
        position: relative;
        width: 100%;
        margin-right: 0px;
        text-align: center;
        margin-bottom: 50px;
        & .hero-heading {
          font-size: map-get(c.$font-sizes, hero-main-text-mobile);
        }

        & .hero-copy {
          font-size: map-get(c.$font-sizes, main-contents-mobile);
          margin: 10px 0 20px;
        }
      }

      & .hero-img-container {
        width: 100%;
        padding-right: 40px;
        & .hero-imgs {
          width: 100%;
          @include c.flex(row);

          & img {
            width: 33.33%;
            &:not(:last-child) {
              margin-right: 20px;
            }
            &:nth-child(odd) {
              transform: translateY(50px);
            }
          }
        }
      }
    }

    .products {
      padding: 0 35px;

      #{&}-number {
        font-size: map-get(c.$font-sizes, hero-main-text-mobile);

        & span {
          margin-top: -10px;
          font-size: map-get(c.$font-sizes, main-contents-mobile);
        }
      }
    }

    .products-desc {
      padding: 0 35px;

      #{&}-container {
        @include c.flex(column);

        & .products-desc-contents {
          text-align: center;
          width: 100%;

          & .products-desc-heading {
            font-size: map-get(c.$font-sizes, section-heading-texts-mobile);
          }

          & .products-desc-copy {
            font-size: map-get(c.$font-sizes, main-contents-mobile);
            margin: 12px 0;
          }
        }

        & .products-desc-img {
          width: 438px;
          margin-top: -30px;
        }
      }

      & .products-shelf {
        flex-direction: row-reverse;
        @include c.flex(column);
        margin-top: 50px;

        & .products-desc-img {
          width: 300px;
          margin-right: 0px;
          margin-top: 30px;
        }
      }
    }

    #products-display {
      & .products-display-heading {
        & h4 {
          font-size: map-get(c.$font-sizes, section-heading-texts-mobile);
        }
      }
    }

    #interior {
      margin-bottom: 50px;
    }

    .interior-container {
      width: 100%;

      & .interior-right {
        width: 100%;
        @include c.flex(column);
        & .interior-copy {
          text-align: center;
          width: 100%;

          & h4 {
            font-size: map-get(c.$font-sizes, section-heading-texts);
          }

          & p {
            font-size: map-get(c.$font-sizes, main-contents);
            margin: 20px 0;
          }
        }

        & .interior-right-img {
          margin-left: 0px;
          width: 100%;
        }
      }
    }

    #testimonials {
      padding: 40px 30px;
    }
    .testimonial-container {
      & h4 {
        font-size: map-get(c.$font-sizes, section-heading-texts-mobile);
        text-align: center;
      }
    }
    .testimonials {
      width: 95%;

      & .testimonial {
        padding: 30px 10px;

        & .testimonial-img {
          &::before {
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.7);
            filter: blur(10px);
            top: 16px;
            left: 5px;
            z-index: 1;
          }

          & img {
            width: 30px;
          }
        }

        & .testimonial-content {
          text-align: center;
          font-size: 15px;
          margin: 20px 0 35px;
        }

        & .testimonial-person {
          display: flex;
          align-items: center;

          & .person-img {
            margin-right: 10px;
            width: 35px;
            & img {
              width: 100%;
            }
          }

          & .person-details {
            & h5 {
              font-size: 12px;
            }
            & p {
              font-size: 8px;
              line-height: 1;
            }
          }
        }
      }
    }
    .slider-btns {
      align-self: center;
      margin-top: 50px;
      @include c.flex(row);

      & .slider-btn {
        color: c.$maincolor;
        border: 1px solid c.$maincolor;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        line-height: 35px;
        text-align: center;
        cursor: pointer;
        &:not(:first-child) {
          margin-left: 20px;
        }

        &:hover {
          background: c.$maincolor;
          color: white;
        }

        & i {
          font-size: 20px;
          font-weight: bolder;
        }
      }
    }

    #newsletter {
      padding: 0 30px;
    }
    .newsletter-container {
      width: 80%;
      & h4 {
        font-size: map-get(c.$font-sizes, section-heading-texts);
        @include c.secFont;
        line-height: 50px;
      }

      & p {
        font-size: map-get(c.$font-sizes, main-contents);
        margin: 30px auto;
        width: 100%;
      }

      & form {
        width: 100%;
        @include c.flex(column);

        & input {
          width: 100%;
        }
        & button {
          width: 100%;
          margin-left: 0px;
          margin-top: 10px;
        }
      }
    }

    footer {
      padding: 50px 30px;
    }

    .top-footer {
      @include c.flex(column);
      align-items: flex-start;

      .footer-heading {
        margin-bottom: 20px;
      }
      & .footer-left {
        & .footer-texts {
          width: 100%;
        }
      }

      & .footer-right {
        margin-top: 50px;
        width: 100%;

        & .footer-item {
          &:not(:last-child) {
            margin-right: 10px;
          }

          & .footer-lists {
            & .footer-sub {
              &:not(:last-child) {
                margin-bottom: 8px;
              }
            }
          }
        }
      }
    }
  }
}

@mixin mobiles {
  @media screen and (max-width: 500px) {
    .header {
      @include c.transition;
      transition-delay: 200ms;
      background: transparent;
      z-index: 12;
      padding: 0;
      height: 68px;

      &.open {
        height: 100%;
        width: 100%;
      }

      & .header-items {
        // position: relative;
        // z-index: 20;
        background: c.$sec-color;
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        // padding: 20px;
        // padding-left: 30px;
        // padding-right: 30px;
        padding: 20px 35px;
        color: c.$dark-color;

        & #nav-list {
          position: absolute;
          background: transparent;
          top: 0;
          left: 0;
          width: 100%;
          height: 0;
          @include c.flex(column);
          // transform: translateX(100%);
          @include c.transition;
          align-items: center;
          justify-content: center;
          transition-delay: 0.5s;
          overflow: hidden;
          // z-index: 50;

          &.open {
            // transform: translateX(0);
            height: 100%;
          }

          & .nav-item {
            font-size: 30px;
            @include c.transition;

            &:nth-child(even) {
              transform: translateX(-300%);
              &.slide {
                transform: translateX(30%);
              }
            }
            &:nth-child(odd) {
              transform: translateX(350%);
              &.slide {
                transform: translateX(-30%);
              }
            }

            &:not(:last-child) {
              margin-bottom: 60px;
            }
          }
        }

        & #nav-actions {
          position: relative;
          @include c.flex(row);
          // z-index: 55;

          & i {
            cursor: pointer;
            @include c.transition;

            &:hover {
              color: c.$dark-milk;
            }
          }

          & i:nth-child(2) {
            margin-left: 10px;
          }

          & .nav-toggler {
            width: 30px;
            height: 25px;
            cursor: pointer;
            @include c.flex(column);
            margin-left: 20px;
          }
        }
      }
    }

    .blocks {
      @include c.flex(row);
    }

    #hero-main {
      padding-top: 30px;
    }

    .hero {
      & .hero-contents {
        & .hero-heading {
          font-size: 45px;
        }

        & .hero-copy {
          font-size: 18px;
        }

        & .hero-btn {
          & a {
            font-size: 16px;
          }
        }
      }

      & .hero-img-container {
        width: 100%;
        // margin-bottom: 100px;
      }
    }

    .products {
      padding: 0 35px;

      #{&}-number {
        font-size: map-get(c.$font-sizes, hero-main-text-mobile);

        & span {
          margin-top: -10px;
          font-size: map-get(c.$font-sizes, main-contents-mobile);
        }
      }

      #{&}-brands {
        & img {
          width: 120px;
          cursor: pointer;
        }
      }
    }

    .products-desc {
      padding: 0 35px;

      #{&}-container {
        @include c.flex(column);

        & .products-desc-contents {
          text-align: center;
          width: 100%;

          & .products-desc-heading {
            font-size: map-get(c.$font-sizes, section-heading-texts-mobile);
          }

          & .products-desc-copy {
            font-size: map-get(c.$font-sizes, main-contents-mobile);
            margin: 12px 0;
          }

          & .products-desc-btn {
            & a {
              font-size: map-get(c.$font-sizes, btn-texts-mobile);

              & span {
                margin-left: 10px;
              }
            }
          }
        }

        & .products-desc-img {
          width: 350px;
          margin-top: -30px;
        }
      }

      & .products-shelf {
        flex-direction: row-reverse;
        @include c.flex(column);
        margin-top: 50px;

        & .products-desc-img {
          width: 230px;
          margin-right: 0px;
          margin-top: 30px;
        }
      }
    }

    #products-display {
      & .products-display-heading {
        @include c.flex(column);
        text-align: center;
        & h4 {
          font-size: map-get(c.$font-sizes, section-heading-texts-mobile);
          margin-bottom: 20px;
        }

        & p {
          background: c.$dark-milk;
          padding: 2px 5px;
          border-radius: 5px;
          @include c.transition;
          &:hover {
            color: c.$dark-color;
            transform: scale(1.2);
          }
          & a {
            pointer-events: none;
          }
        }
      }

      .products-display-imgs {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        width: 100%;
        row-gap: 25px;

        & .products-display-img {
          @include c.flex(column);

          & img {
            position: relative;
            width: 250px;
            margin-bottom: 5px;
            cursor: pointer;
          }

          & p {
            font-size: map-get(c.$font-sizes, main-contents-mobile);
          }
        }
      }
    }

    #interior {
      margin-bottom: 50px;
    }

    .interior-container {
      & .interior-right {
        @include c.flex(column);
        & .interior-copy {
          & h4 {
            font-size: map-get(c.$font-sizes, section-heading-texts-mobile);
          }

          & p {
            font-size: map-get(c.$font-sizes, main-contents-mobile);
            margin: 15px 0;
          }
        }

        & .interior-right-img {
          margin-left: 0px;
        }
      }
    }

    #newsletter {
      padding: 0 30px;
    }
    .newsletter-container {
      width: 100%;
      & h4 {
        font-size: map-get(c.$font-sizes, section-heading-texts-mobile);
        @include c.secFont;
        line-height: 50px;
      }

      & p {
        font-size: map-get(c.$font-sizes, main-contents-mobile);
        margin: 30px auto;
        width: 100%;
      }

      & form {
        width: 100%;
        @include c.flex(column);

        & input {
          width: 100%;
        }
        & button {
          width: 100%;
          margin-left: 0px;
          margin-top: 10px;
        }
      }
    }

    footer {
      padding: 50px 30px;
    }

    .top-footer {
      @include c.flex(column);
      align-items: flex-start;

      .footer-heading {
        margin-bottom: 10px;
      }
      & .footer-left {
        & .footer-texts {
          width: 100%;
        }
      }

      & .footer-right {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: auto;
        margin-top: 50px;
        width: 100%;

        & .footer-discover,
        & .footer-contact {
          margin-top: 25px;
        }

        & .footer-item {
          &:not(:last-child) {
            margin-right: 0px;
          }
        }
      }
    }
    .bottom-footer {
      margin-top: 70px;

      & .media {
        & i {
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@mixin small-mobiles {
  @media screen and (max-width: 420px) {
    #products-display {
      .products-display-imgs {
        margin-top: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;

        & .third,
        & .fourth {
          margin-top: 10px;
        }
        & .products-display-img {
          & img {
            width: 100%;
          }

          & p {
            font-size: 15px;
          }
        }
      }
    }

    .bottom-footer {
      margin-top: 70px;
      @include c.flex(column);
      align-items: flex-start;

      & .media {
        margin-top: 10px;
        & i {
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@for $i from 1 through 5 {
  .blocks {
    & .block:nth-child(#{$i}) {
      transition-delay: ($i * 0.18s);
    }
  }
}
